section.about-page__history {
	height: 350px;
	padding-top: 2rem;
	background: #d7d7d7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.history-wrapper {
	display: flex;
	gap: 30px;
	width: 800px;
	margin: auto;
	max-width: 1400px;
}

.history-wrapper__content-title {
	color: #d74c4c;
    font-size: 35px;
    font-weight: 400;
}

.history-wrapper__content-des {
	font-size: 14px;
}
section.vision-mission {
	color: #fff;
	background: #d74c4c;
	font-size: 14px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vision-mission__wrapper {
	display: flex;
	width: 800px;
	margin: auto;
	gap: 20px;
}

.section-item img {
	width: 80px;
}

.section-item__title {
	font-size: 20px;
	margin: 1rem 0;
}

.section-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.hightlights-items-wrapper {
	width: 800px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
	margin-top: 1rem;
}

.highlights-title {
	width: 800px;
    margin: auto;
    font-size: 35px;
    margin-top: 2rem;
    color: #d74c4c;
    font-weight: 400;
    user-select: none;
}

.location_title {
	width: 800px;
    margin: auto;
    font-size: 35px;
    margin-top: 2rem;
    color: #d74c4c;
    font-weight: 400;
    user-select: none;
}

.location-wrapper {
    width: 800px;
    margin: auto;
    margin-top: 1rem;
}.arrow-align {
    width: 800px;
    margin: 1rem auto;
}