section.about-page__history {
	height: 350px;
	padding-top: 2rem;
	background: #d7d7d7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.history-wrapper {
	display: flex;
	gap: 30px;
	width: 800px;
	margin: auto;
	max-width: 1400px;
}

.history-wrapper__content-title {
	color: #d74c4c;
	font-size: 35px;
	font-weight: 400;
}
.hightlights-item {
    height: 200px;
}
.hightlights-item img{
	height: 100%;
	object-fit: cover;
}
.history-wrapper__content-des {
	font-size: 14px;
}
section.vision-mission {
	color: #fff;
	background: #d74c4c;
	font-size: 14px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vision-mission__wrapper {
	display: flex;
	width: 800px;
	margin: auto;
	gap: 20px;
}

.section-item img {
	width: 80px;
}

.section-item__title {
	font-size: 20px;
	margin: 1rem 0;
}

.section-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.hightlights-items-wrapper {
	width: 800px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
	margin-top: 1rem;
}

.highlights-title {
	width: 800px;
	margin: auto;
	font-size: 35px;
	margin-top: 2rem;
	color: #d74c4c;
	font-weight: 400;
	user-select: none;
}

.location_title {
	width: 800px;
	margin: auto;
	font-size: 35px;
	margin-top: 2rem;
	color: #d74c4c;
	font-weight: 400;
	user-select: none;
}

.location-wrapper {
	width: 800px;
	margin: auto;
	margin-top: 1rem;
}
.arrow-align {
	width: 800px;
	margin: 1rem auto;
}
iframe.map-size {
	width: 800px;
	height: 400px;
}



  /* Assigning general property to card  */
  .card {
	height: 200px;
	position: relative;
	background-size: cover;
	background-color: #d74c4c;
	background-position: center center;
	overflow: hidden;
	cursor: pointer;
	border: none;
	border-radius: 0;
}

/* Assigning properties to inner
	content of card  */
.card__inner {
	background-color:  #d74c4c6b;
	color: #fff;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	opacity: 0;
	padding: 2rem 1.3rem 2rem 2rem;
	transition: all 0.4s ease 0s;
	font-size: 13px;
}

/* On hovering card opacity of
	content must be 1*/
.card:hover .card__inner {
	opacity: 1;
}

/* General property for heading
	and paragraph*/
.card__inner h2 {
	margin-top: 1rem;
}


@media (max-width: 1200px) {
}
@media (max-width: 900px) {
	section.about-page__history{
		width: 90%;
		margin: auto;
		height: auto;
		margin-top: 1rem;
	}
	section.vision-mission{
		width: 90%;
		margin: auto;
		height: auto;
		margin-top: 1rem;
	}
	.vision-mission__wrapper {
		width: 90%;
		margin: auto;
		height: auto;
		padding: 40px;
	}
	.history-wrapper {
		width: 90%;
		margin: auto;
	}
	.hightlights-items-wrapper {
		width: 90%;
		margin: auto;
		margin-top: 1rem;
	}

	.highlights-title {
		width: 90%;
		margin: auto;
	}

	.location-wrapper {
		width: 90%;
		margin: auto;
	}
	.arrow-align {
		width: 90%;
		margin: auto;
	}
	iframe.map-size {
		width: 100%;
		margin: auto;
		height: 400px;
	}
	.location_title {
		width: 90%;
		margin: auto;
	}
}
@media (max-width: 786px) {
	.history-wrapper__content-des {
		font-size: 14px;
		padding-bottom: 30px;
	}
	.history-wrapper {
		flex-wrap: wrap;
	}
	.vision-mission__wrapper {
		flex-wrap: wrap;
	}
}
@media (max-width: 570px) {
}
@media (max-width: 400px) {
}
