.join-us-wrapper {
	width: 800px;
	margin: auto;
}

.join-us-form {
	background: #d74c4c;
	padding: 20px;
}

.join-us-des {
	font-size: 13px;
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: #5d5d5d;
}

.join-us-form__input input {
	width: 100%;
	border: none;
	height: 35px;
	padding-left: 10px;
	font-size: 13px;
    outline: none;
}

.join-us-two__wrap {
	margin: 10px 0;
	display: flex;
	gap: 15px;
	justify-content: space-between;
}

.join-us-form__input {
	width: 100%;
}

.join-us__message textarea {
	width: 100%;
	border: none;
    outline: none;
}

.join-us__submit-btn {
	height: 35px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	cursor: pointer;
	user-select: none;
	color: #d74c4c;
	font-weight: 400;
}

@media (max-width: 1200px) {}
@media (max-width: 900px) {
 .join-us-wrapper{
	 width: 90%;
	 margin: auto;
 }
}
@media (max-width: 786px) {

}
@media (max-width: 570px) {
	.join-us-two__wrap{
		flex-wrap: wrap;
	}

}
@media (max-width: 400px) {}