.news-wrapper-single {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 30px;
}

.news-meta {
    display: flex;
    gap: 20px;
    font-size: 13px;
}

.news-content-single h3 {
    text-align: left;
    width: 100%;
    font-size: 28px;
    margin-top: 4rem;
}

.news-social {
    display: flex;
    gap: 8px;
    margin: 10px 0;
}

.news-main-image {
    width: 100%;
    height: 500px;
    margin: 20px 0;
}

.news-main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid {
    width: 500px;
    display: flex;
    gap: 30px;
}

.image-grid img {
    width: 100%;
    height: 300px;
}

.news-content-single {
    width: 70%;
}

.news-content-single p {
    text-align: justify;
    margin: 25px 0px;
    font-size: 14px;
}

.list-news ul li {
    font-size: 14px;
}

.popular-content__item {
    display: flex;
    gap: 15px;
    margin: 15px 0;
    align-items: center;
}

.popular-content__item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.popular-content__item-des span {
    font-size: 14px;
}

.popular-content__item-des h4 {
    font-size: 18px;
}

.popular-content {
    margin-top: 25px;
}

.all-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.all-tags__item {
    border: 1px solid #ebe7e7;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
}

.tags-single-news {
    width: 320px;
    margin-top: 5rem;
}

@media (max-width: 1300px) {
    .news-main-image{
        width: 100%;
    }


    .image-grid img {
        width: 300px;
    }
}
@media (max-width: 1000px) {
    .image-grid{
        flex-wrap: wrap;
        width: 90%;
    }
    .image-grid img {
        width: 100%;
    }
    .news-wrapper-single{
        flex-wrap: wrap;
    }
    .news-content-single{
		width: 100%;
	}

}
@media (max-width: 786px) {

}
@media (max-width: 570px) {
}
@media (max-width: 400px) {
}